header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 4rem;
}
header h1 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
}
header nav ul li {
  width: 5rem;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background: transparent;

  cursor: pointer;
  transition: 0.15s ease;
  background: var(--white);
}
header nav ul li.activePage {
  box-shadow: 0.1rem 0.1rem 0.6rem #dedede, -0.1rem -0.1rem 0.6rem #cecece;
}
header nav ul li > img {
  width: 70%;
}
header nav ul li:hover {
  box-shadow: 0.1rem 0.1rem 0.6rem #dedede, -0.1rem -0.1rem 0.6rem #cecece;
}
header nav ul li:active {
  opacity: 0.6;
}

main {
  width: 100%;
  padding: 3rem 0rem;
}
main #content .relogio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
main #content .relogio .circle {
  min-width: 25rem;
  min-height: 25rem;

  width: 35rem;
  height: 35rem;

  border-radius: 50%;
  border: 15px solid var(--black);
  position: relative;
}
main #content .relogio .circle .center {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--black);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
main #content .relogio .circle .p_h,
main #content .relogio .circle .p_s,
main #content .relogio .circle .p_m {
  transform-origin: left;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
main #content .relogio .circle .p_h {
  width: 12rem;
  height: 0.6rem;
  border-radius: 1rem;
  background: var(--black);
}
main #content .relogio .circle .p_m {
  width: 8rem;
  height: 0.8rem;
  border-radius: 1rem;
  background: var(--black);
}
main #content .relogio .circle .p_s {
  width: 12rem;
  height: 0.2rem;
  border-radius: 1rem;
  background: var(--red);
}
main #content .relogio .circle .risco {
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--textsOrIcons);
  position: absolute;
}
main #content .relogio .circle .top {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
main #content .relogio .circle .right {
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
main #content .relogio .circle .bottom {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
main #content .relogio .circle .left {
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}

main #content .relogio .timeNumber {
  width: 40rem;
  height: 6rem;

  font-size: 3rem;
  font-weight: 500;
  color: var(--textsOrIcons);

  display: flex;
  align-items: center;
  justify-content: center;
}

main #content .cronometro {
  width: 100%;
  min-height: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #content .cronometro .timer span {
  font-size: 6rem;
  font-weight: 500;
  color: var(--textsOrIcons);
}
main #content .cronometro .btn-timer {
  margin-top: 3rem;
  padding: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main #content .cronometro .btn-timer button {
  width: 12rem;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: 0.15s ease;
  border-radius: 0.5rem;
}
main #content .cronometro .btn-timer button:hover {
  opacity: 0.7;
}
main #content .cronometro .btn-timer button:active {
  box-shadow: 0.1rem 0.1rem 0.6rem #777, -0.1rem -0.1rem 0.6rem #777;
}
main #content .cronometro .btn-timer button.start {
  background: var(--green);
  color: var(--black);
}
main #content .cronometro .btn-timer button.restart {
  background: var(--green);
  color: var(--black);
  display: none;
}
main #content .cronometro .btn-timer button.stop {
  background: var(--red);
  color: var(--white);
  display: none;
}

@media (max-width: 350px) {
  main #content .cronometro .timer span {
    font-size: 4.5rem;
  }
  main #content .cronometro .btn-timer button {
    width: 12rem;
    height: 5rem;
  }
}

footer {
  width: 100%;
  padding: 3rem 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--textsOrIcons);
}
footer p a {
  color: var(--blue);
}
footer p a:hover {
  text-decoration: underline;
}

@media (max-width: 475px) {
  main #content .relogio .circle {
    width: 25rem;
    height: 25rem;
    border-width: 1rem;
  }
  header {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  main #content .relogio .circle .p_h,
  main #content .relogio .circle .p_s {
    width: 8rem;
  }
  main #content .relogio .circle .p_m {
    width: 6rem;
  }
}
